.signup__btn {
	width: 10rem;
	border-bottom: 3px solid $primary-green;
	margin-top: 3rem;
	
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: all .2s;
	padding: .5rem;
	@include unselectable;

	&:hover {
		border-radius: 1.5rem;
		background-color: $primary-green;
		color: $primary-main;
		transform: translateY(-4px);
	}

	&:active {
		transform: translateY(-1px)
	}
}
