.prize {
	&__container {
		margin: 35rem auto 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@include respond(phone) {
			margin-top: 7rem;
		}
		
		& > h2 {
			@include absCenter;
			top: 5%;
		}
	}


	&__img {
		margin: 10rem 0 5rem 0;
		width: 40rem;
		@include respond(tab-land) {
			width: 30rem;
		}
	}

	&__name {
		text-align: center;
	}
}
