//color
$primary-green-dark: #223f2a;
$primary-green: #566c56;
$primary-green-regular: #728a7a;
$primary-green-light: hsl(113, 13%, 86%);
$primary-main: #f8f8ec;
$primary-main-dark: rgb(50, 55, 47);
$primary-yellow: hsl(29, 95%, 80%);
$font-dark: #000;
$font-gray: #777;
$font-light-gray: hsl(0, 0%, 65%);
